body,
html {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background: url("header.jpg") no-repeat center center fixed;
  background-size: cover;
}
/*background: url("header.jpg") no-repeat center center fixed ensures that the image is always centered and responds to website size*/
h1 {
  font-size: 3rem;
  color: rgb(190, 190, 190);
}

.btn-cnt {
  padding: 1rem 2rem;
}
